{
    "nsip": "10.217.17.110",
    "nsuser": "user",
    "nspasswd": "pwd",
    "interfaces": ["10/1"],
    "snips":["1.1.1.10", "1.1.2.10", "1.1.2.11", "1.1.2.13"],
    "snipmask":"255.255.255.0",
    "lbvserver":"1.1.1.5",
    "services":["1.1.2.100","1.1.2.101"]
}
